/////////////////////////////////////-+++-/////////////////////////////////////////
// Bill
/////////////////////////////////////-+++-/////////////////////////////////////////




/////////////////////////////////////-+++-
// Some bill variables


$bill: 12px;
$bill-width: $bill;
$bill-height: $bill;
$bill-total: 137;
$bill-total-wide: 8;
$bill-total-tall: 25;

$hair:  #ce2811;
$shirt: #ccff97;
$skin: #e5c7a1;
$tie: #516872;
$leather: #302517;
$pants: #a09087;


/////////////////////////////////////-+++-
// Innitial stuff


.Bill {
	height: 100vh;
	width: $bill * 8;
	position: fixed;
	bottom: 0;
	left: 200px;
	display: none;
	transition: left 1s linear;
	z-index: 10;

	@include mq($from: college) {
		display: block;
	}

	div {
		position: absolute;
		width: $bill-width;
		height: $bill-height;
		transition: all 2s ease;
		z-index: 2;
		bottom: 0;
		left: 0;
	}

	&.is-off div {
		width: 1px;
		height: 1px;
	}

	&.is-ready div {
		transition: all .3s ease;
	}
}

.BillNote {
	position: fixed;
	width: 240px;
	background: tomato;
	bottom: 330px;
	left: 134px;
	color: #fff;
	@extend %u-smallTitle;
	text-align: center;
	padding: 20px;
	margin: 0;
	opacity: 0;
	transition: opacity 1s ease;

	&:after {
		@extend %u-triangleDown;
		@extend %u-absoluteBottomCenter;
		margin-bottom: -14px;
	}

	p {
		margin: 0;
	}


	&.is-out {

		@include mq($from: college) {
			opacity: 1;
		}
	}

}


/////////////////////////////////////-+++-
// Bill blocks colors

.Shirt {
	background: $shirt;
}

.Hair {
	background: $hair;
}

.Face,
.RightArm,
.LeftArm {
	background: $skin;
}

.Tie {
	background: $tie;
}

.Belt,
.Shoe {
	background: $leather;
}

.LeftLeg,
.RightLeg,
.Torso {
	background: $pants;
}

%u-darkenPants { background: darken($pants, 6%); }
%u-resetPants { background: $pants; }

%u-darkenSkin {
	background: darken($skin, 6%);
}

%u-darkenTie {
	background: darken($tie, 6%);
}

%u-darkenLeather {
	background: darken($leather, 6%);
}

%u-darkenHair {
	background: darken($hair, 6%);
}

%u-darkenShirt { background: darken(desaturate($shirt, 30%), 6%); }
%u-resetShirt { background: $shirt; }

@for $i from 1 through $bill-total {
  .Bill.is-off div:nth-child(#{$i}) { 
    bottom: (random(500) + 300) + px !important;
  }
}



/////////////////////////////////////-+++-
// This brings in the sprites and orients them properlly
// this code is totally wack ... but it works

@mixin bill($x, $y) {
	transform: translate($y * $bill, -($x * $bill));
}

.Bill {
	@import "BillSprite";
}



@mixin bill($x, $y) {
	transform: translate(-$y * $bill, -($x * $bill));
}

.Bill.is-left {
	@import "BillSprite";
}



/////////////////////////////////////-+++-
// here is just some fun stuff

.Bill.is-golden {

	div {
		background: goldenrod !important;
		box-shadow: 0 0 100px goldenrod;
	}
}




