/////////////////////////////////////-+++-/////////////////////////////////////////
// Project
/////////////////////////////////////-+++-/////////////////////////////////////////



.Project {
	@extend %u-clearfix;
	text-align: center;
	padding-bottom: 6vh;

	@include mq($from: middleschool) {
			    text-align: left;
	    padding: 0;
	}
}

.Project__imageGroup {
	width: 140px;
	margin: 0 auto;

	@include mq($from: middleschool) {
		margin: 0 0 0 30px;
		float: right;
	}

}

.Project__title {
	margin-bottom: 0;
	@extend %u-giantTitle;
	padding-top: 2vh;
}

.Project__date {
	@extend %u-blockText;
	color: #ccc;
	position: relative;
	top: -1px;
}

.Project__link {
	font-weight: 800;
	margin-bottom: 10px;
}

.Project__summary {
	margin-bottom:  4px;
}

