---

shortcode: home

---


<div class="PageWrapper">

	<header class="SiteHeader" role="banner">
	        <div class="SiteHeader__textGroup">
	            <h1 class="u-giantTitle">Hey, I'm Bill. I make art <span class='u-nobr'>in New Orleans</span> and websites <span class="u-nobr">for that <span class="bling">$$$</span>.</span></h1>
	            <p>Find me elsewhere on <a href="https://github.com/billybrown">github</a>, <a href="http://billybrown.tumblr.com/">tumblr</a>, <a href="https://www.flickr.com/photos/billybrown00">flickr</a>, or at <a href="http://echo.co/users/bill-brown">work</a>.</p>
	        </div>
	</header>

	<main class="SiteMain" role="main">

		<ul class="u-borderList ProjectList">
			{{#each site.project}}
		        <li>
		        	{{> Project }}
		        </li>
		    {{/each}} 
		</ul>
	</main>
</div><!-- ./PageWrapper -->

{{> Bill }}
