<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bill Brown</title>
        <meta name="description" content="The website of Bill Brown, a New Orleans based artist, web designer, and front-end developer.">        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" sizes="64x64" href="build/favicon.png">
        <!--[if IE]><link rel="shortcut icon" href="build/favicon.ico"><![endif]-->

        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:600,800|Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="build/css/main.min.css">

        <script src="build/js/modernizr.js"></script>

    </head>
    <body>

        <div class="Page">

            <!--[if lte IE 9]>
            <div class="BrowseHappy">
                <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            </div>
            <![endif]-->

            {{> body }}                             

        </div><!-- /.Page -->

        <script src='build/img/bill_1.js'></script>

        <!-- jquery -->
        <script src="build/js/jquery.min.js"></script>

        <script src="build/js/plugins.min.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-5899894-1', 'auto');
          ga('send', 'pageview');
        </script>

    </body>
</html>
