<svg version="1.1" class="Bill__1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="240px" height="520px" viewBox="-480 140 240 520" enable-background="new -480 140 240 520" xml:space="preserve">

<rect x="-360" y="160" fill="#CE2811" class="Hair Hair--1" width="20" height="20"/>
<rect x="-380" y="180" fill="#CE2811" class="Hair Hair--2" width="20" height="20"/>
<rect x="-360" y="180" fill="#CE2811" class="Hair Hair--3" width="20" height="20"/>
<rect x="-340" y="180" fill="#CE2811" class="Hair Hair--4" width="20" height="20"/>
<rect x="-380" y="200" fill="#C9AE91" class="Face Face--1" width="20" height="20"/>
<rect x="-360" y="200" fill="#C9AE91" class="Face Face--2" width="20" height="20"/>
<rect x="-340" y="200" fill="#C9AE91" class="Face Face--3" width="20" height="20"/>
<rect x="-380" y="220" fill="#E5C7A1" class="Face Face--4" width="20" height="20"/>
<rect x="-360" y="220" fill="#E5C7A1" class="Face Face--5" width="20" height="20"/>
<rect x="-340" y="220" fill="#E5C7A1" class="Face Face--6" width="20" height="20"/>
<rect x="-380" y="240" fill="#E5C7A1" class="Face Face--7" width="20" height="20"/>
<rect x="-360" y="240" fill="#E5C7A1" class="Face Face--8" width="20" height="20"/>
<rect x="-340" y="240" fill="#E5C7A1" class="Face Face--9" width="20" height="20"/>
<rect x="-440" y="340" fill="#C9AE91" class="LeftArm LeftArm--1" width="20" height="20"/>
<rect x="-440" y="360" fill="#C9AE91" class="LeftArm LeftArm--2" width="20" height="20"/>
<rect x="-440" y="380" fill="#C9AE91" class="LeftArm LeftArm--3" width="20" height="20"/>
<rect x="-440" y="400" fill="#C9AE91" class="LeftArm LeftArm--4" width="20" height="20"/>
<rect x="-440" y="420" fill="#C9AE91" class="LeftArm LeftArm--5" width="20" height="20"/>
<rect x="-440" y="440" fill="#C9AE91" class="LeftArm LeftArm--6" width="20" height="20"/>
<rect x="-400" y="240" fill="#B3E27D" class="Shirt Shirt--1" width="20" height="20"/>
<rect x="-320" y="260" fill="#CCFF97" class="Shirt Shirt--2" width="20" height="20"/>
<rect x="-340" y="260" fill="#B3E27D" class="Shirt Shirt--3" width="20" height="20"/>
<rect x="-380" y="260" fill="#B3E27D" class="Shirt Shirt--4" width="20" height="20"/>
<rect x="-400" y="260" fill="#CCFF97" class="Shirt Shirt--5" width="20" height="20"/>
<rect x="-420" y="260" fill="#B3E27D" class="Shirt Shirt--6" width="20" height="20"/>
<rect x="-300" y="280" fill="#CCFF97" class="Shirt Shirt--7" width="20" height="20"/>
<rect x="-320" y="280" fill="#CCFF97" class="Shirt Shirt--8" width="20" height="20"/>
<rect x="-340" y="280" fill="#CCFF97" class="Shirt Shirt--9" width="20" height="20"/>
<rect x="-380" y="280" fill="#CCFF97" class="Shirt Shirt--10" width="20" height="20"/>
<rect x="-400" y="280" fill="#CCFF97" class="Shirt Shirt--11" width="20" height="20"/>
<rect x="-420" y="280" fill="#CCFF97" class="Shirt Shirt--12" width="20" height="20"/>
<rect x="-440" y="280" fill="#B3E27D" class="Shirt Shirt--13" width="20" height="20"/>
<rect x="-300" y="300" fill="#CCFF97" class="Shirt Shirt--14" width="20" height="20"/>
<rect x="-320" y="300" fill="#CCFF97" class="Shirt Shirt--15" width="20" height="20"/>
<rect x="-340" y="300" fill="#CCFF97" class="Shirt Shirt--16" width="20" height="20"/>
<rect x="-380" y="300" fill="#CCFF97" class="Shirt Shirt--17" width="20" height="20"/>
<rect x="-400" y="300" fill="#CCFF97" class="Shirt Shirt--18" width="20" height="20"/>
<rect x="-420" y="300" fill="#CCFF97" class="Shirt Shirt--19" width="20" height="20"/>
<rect x="-440" y="300" fill="#B3E27D" class="Shirt Shirt--20" width="20" height="20"/>
<rect x="-300" y="320" fill="#CCFF97" class="Shirt Shirt--21" width="20" height="20"/>
<rect x="-320" y="320" fill="#B3E27D" class="Shirt Shirt--22" width="20" height="20"/>
<rect x="-340" y="320" fill="#CCFF97" class="Shirt Shirt--23" width="20" height="20"/>
<rect x="-380" y="320" fill="#CCFF97" class="Shirt Shirt--24" width="20" height="20"/>
<rect x="-400" y="320" fill="#CCFF97" class="Shirt Shirt--25" width="20" height="20"/>
<rect x="-420" y="320" fill="#CCFF97" class="Shirt Shirt--26" width="20" height="20"/>
<rect x="-440" y="320" fill="#B3E27D" class="Shirt Shirt--27" width="20" height="20"/>
<rect x="-400" y="340" fill="#CCFF97" class="Shirt Shirt--28" width="20" height="20"/>
<rect x="-420" y="340" fill="#CCFF97" class="Shirt Shirt--29" width="20" height="20"/>
<rect x="-320" y="340" fill="#B3E27D" class="Shirt Shirt--30" width="20" height="20"/>
<rect x="-380" y="340" fill="#CCFF97" class="Shirt Shirt--31" width="20" height="20"/>
<rect x="-340" y="340" fill="#CCFF97" class="Shirt Shirt--32" width="20" height="20"/>
<rect x="-320" y="360" fill="#B3E27D" class="Shirt Shirt--33" width="20" height="20"/>
<rect x="-340" y="360" fill="#CCFF97" class="Shirt Shirt--34" width="20" height="20"/>
<rect x="-380" y="360" fill="#CCFF97" class="Shirt Shirt--35" width="20" height="20"/>
<rect x="-400" y="360" fill="#CCFF97" class="Shirt Shirt--36" width="20" height="20"/>
<rect x="-420" y="360" fill="#CCFF97" class="Shirt Shirt--37" width="20" height="20"/>
<rect x="-320" y="380" fill="#B3E27D" class="Shirt Shirt--38" width="20" height="20"/>
<rect x="-340" y="380" fill="#CCFF97" class="Shirt Shirt--39" width="20" height="20"/>
<rect x="-380" y="380" fill="#CCFF97" class="Shirt Shirt--40" width="20" height="20"/>
<rect x="-400" y="380" fill="#CCFF97" class="Shirt Shirt--41" width="20" height="20"/>
<rect x="-420" y="380" fill="#CCFF97" class="Shirt Shirt--42" width="20" height="20"/>
<rect x="-320" y="400" fill="#B3E27D" class="Shirt Shirt--43" width="20" height="20"/>
<rect x="-340" y="400" fill="#CCFF97" class="Shirt Shirt--44" width="20" height="20"/>
<rect x="-360" y="400" fill="#B3E27D" class="Shirt Shirt--45" width="20" height="20"/>
<rect x="-380" y="400" fill="#CCFF97" class="Shirt Shirt--46" width="20" height="20"/>
<rect x="-400" y="400" fill="#CCFF97" class="Shirt Shirt--47" width="20" height="20"/>
<rect x="-420" y="400" fill="#CCFF97" class="Shirt Shirt--48" width="20" height="20"/>
<rect x="-360" y="260" fill="#3E5056" class="Tie Tie--1" width="20" height="20"/>
<rect x="-360" y="280" fill="#516872" class="Tie Tie--2" width="20" height="20"/>
<rect x="-360" y="300" fill="#516872" class="Tie Tie--3" width="20" height="20"/>
<rect x="-360" y="320" fill="#516872" class="Tie Tie--4" width="20" height="20"/>
<rect x="-360" y="340" fill="#516872" class="Tie Tie--5" width="20" height="20"/>
<rect x="-360" y="360" fill="#516872" class="Tie Tie--6" width="20" height="20"/>
<rect x="-360" y="380" fill="#516872" class="Tie Tie--7" width="20" height="20"/>
<rect x="-320" y="420" fill="#302517" class="Belt Belt--1" width="20" height="20"/>
<rect x="-340" y="420" fill="#302517" class="Belt Belt--2" width="20" height="20"/>
<rect x="-360" y="420" fill="#302517" class="Belt Belt--3" width="20" height="20"/>
<rect x="-380" y="420" fill="#302517" class="Belt Belt--4" width="20" height="20"/>
<rect x="-400" y="420" fill="#302517" class="Belt Belt--5" width="20" height="20"/>
<rect x="-420" y="420" fill="#302517" class="Belt Belt--6" width="20" height="20"/>
<rect x="-320" y="440" fill="#A09087" class="Torso Torso--1" width="20" height="20"/>
<rect x="-340" y="440" fill="#A09087" class="Torso Torso--2" width="20" height="20"/>
<rect x="-360" y="440" fill="#A09087" class="Torso Torso--3" width="20" height="20"/>
<rect x="-380" y="440" fill="#A09087" class="Torso Torso--4" width="20" height="20"/>
<rect x="-400" y="440" fill="#A09087" class="Torso Torso--5" width="20" height="20"/>
<rect x="-420" y="440" fill="#A09087" class="Torso Torso--6" width="20" height="20"/>
<rect x="-320" y="460" fill="#A09087" class="Torso Torso--7" width="20" height="20"/>
<rect x="-340" y="460" fill="#7F7570" class="Torso Torso--8" width="20" height="20"/>
<rect x="-360" y="460" fill="#7F7570" class="Torso Torso--9" width="20" height="20"/>
<rect x="-380" y="460" fill="#7F7570" class="Torso Torso--10" width="20" height="20"/>
<rect x="-400" y="460" fill="#7F7570" class="Torso Torso--11" width="20" height="20"/>
<rect x="-420" y="460" fill="#A09087" class="Torso Torso--12" width="20" height="20"/>
<rect x="-440" y="460" fill="#7F7570" class="Torso Torso--13" width="20" height="20"/>
<rect x="-320" y="480" fill="#A09087" class="LeftLeg LeftLeg--1" width="20" height="20"/>
<rect x="-340" y="480" fill="#7F7570" class="LeftLeg LeftLeg--2" width="20" height="20"/>
<rect x="-320" y="500" fill="#A09087" class="LeftLeg LeftLeg--3" width="20" height="20"/>
<rect x="-340" y="500" fill="#7F7570" class="LeftLeg LeftLeg--4" width="20" height="20"/>
<rect x="-320" y="520" fill="#A09087" class="LeftLeg LeftLeg--5" width="20" height="20"/>
<rect x="-340" y="520" fill="#7F7570" class="LeftLeg LeftLeg--6" width="20" height="20"/>
<rect x="-320" y="540" fill="#A09087" class="LeftLeg LeftLeg--7" width="20" height="20"/>
<rect x="-340" y="540" fill="#7F7570" class="LeftLeg LeftLeg--8" width="20" height="20"/>
<rect x="-320" y="560" fill="#A09087" class="LeftLeg LeftLeg--9" width="20" height="20"/>
<rect x="-340" y="560" fill="#7F7570" class="LeftLeg LeftLeg--10" width="20" height="20"/>
<rect x="-320" y="580" fill="#A09087" class="LeftLeg LeftLeg--11" width="20" height="20"/>
<rect x="-340" y="580" fill="#7F7570" class="LeftLeg LeftLeg--12" width="20" height="20"/>
<rect x="-320" y="600" fill="#A09087" class="LeftLeg LeftLeg--13" width="20" height="20"/>
<rect x="-340" y="600" fill="#7F7570" class="LeftLeg LeftLeg--14" width="20" height="20"/>
<rect x="-320" y="620" fill="#A09087" class="LeftLeg LeftLeg--15" width="20" height="20"/>
<rect x="-340" y="620" fill="#7F7570" class="LeftLeg LeftLeg--16" width="20" height="20"/>
<rect x="-420" y="480" fill="#A09087" class="RightLeg RightLeg--1" width="20" height="20"/>
<rect x="-440" y="480" fill="#7F7570" class="RightLeg RightLeg--2" width="20" height="20"/>
<rect x="-420" y="500" fill="#A09087" class="RightLeg RightLeg--3" width="20" height="20"/>
<rect x="-440" y="500" fill="#7F7570" class="RightLeg RightLeg--4" width="20" height="20"/>
<rect x="-420" y="520" fill="#A09087" class="RightLeg RightLeg--5" width="20" height="20"/>
<rect x="-440" y="520" fill="#7F7570" class="RightLeg RightLeg--6" width="20" height="20"/>
<rect x="-420" y="540" fill="#A09087" class="RightLeg RightLeg--7" width="20" height="20"/>
<rect x="-440" y="540" fill="#7F7570" class="RightLeg RightLeg--8" width="20" height="20"/>
<rect x="-420" y="560" fill="#A09087" class="RightLeg RightLeg--9" width="20" height="20"/>
<rect x="-440" y="560" fill="#7F7570" class="RightLeg RightLeg--10" width="20" height="20"/>
<rect x="-420" y="580" fill="#A09087" class="RightLeg RightLeg--11" width="20" height="20"/>
<rect x="-440" y="580" fill="#7F7570" class="RightLeg RightLeg--12" width="20" height="20"/>
<rect x="-420" y="600" fill="#A09087" class="RightLeg RightLeg--13" width="20" height="20"/>
<rect x="-440" y="600" fill="#7F7570" class="RightLeg RightLeg--14" width="20" height="20"/>
<rect x="-420" y="620" fill="#A09087" class="RightLeg RightLeg--15" width="20" height="20"/>
<rect x="-440" y="620" fill="#7F7570" class="RightLeg RightLeg--16" width="20" height="20"/>


<rect x="-320" y="640" fill="#302517" class="Shoe Shoe--1" width="20" height="20"/>
<rect x="-340" y="640" fill="#302517" class="Shoe Shoe--2" width="20" height="20"/>
<rect x="-420" y="640" fill="#302517" class="Shoe Shoe--3" width="20" height="20"/>
<rect x="-440" y="640" fill="#302517" class="Shoe Shoe--4" width="20" height="20"/>

<rect x="-300" y="340" fill="#D8BB91" class="RightArm RightArm--1" width="20" height="20"/>
<rect x="-300" y="360" fill="#D8BB91" class="RightArm RightArm--2" width="20" height="20"/>
<rect x="-300" y="380" fill="#D8BB91" class="RightArm RightArm--3" width="20" height="20"/>
<rect x="-300" y="400" fill="#D8BB91" class="RightArm RightArm--4" width="20" height="20"/>
<rect x="-300" y="420" fill="#D8BB91" class="RightArm RightArm--5" width="20" height="20"/>
<rect x="-300" y="440" fill="#D8BB91" class="RightArm RightArm--6" width="20" height="20"/>
</svg>
