/////////////////////////////////////-+++-/////////////////////////////////////////
// Main content area
/////////////////////////////////////-+++-/////////////////////////////////////////


.Page {
	background: #fff;
}

.SiteMain {
	padding-top: 0;
	padding-bottom: 20vh ;
	border-bottom: 4px solid tomato;
}