/////////////////////////////////////-+++-/////////////////////////////////////////
// Header
/////////////////////////////////////-+++-/////////////////////////////////////////



.SiteHeader {

}

.SiteHeader__textGroup {
	border-top: 3px solid tomato;
	padding: 8vh 0;

	h1 {
		margin: 0 0 2vh;

		@include mq($from: middleschool) {
			line-height: 38px;
		}
	}
}

.bling {
	color: goldenrod;
	

}